<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"></div>
    </div>

<p id="notice"><%= notice %></p>
<h1>ブログの編集</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog, class: "btn btn-info" %> |
<%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>
</div>